<mat-toolbar color="primary">
    <span>{{user.rol}} - {{user.name}}</span>

    <span class="example-spacer"></span>

    <app-tester-navbar *ngIf="user.rol === 'Tester'" > </app-tester-navbar>
    <app-admin-navbar *ngIf="user.rol  === 'Administrador'"> </app-admin-navbar>
    <app-developer-navbar *ngIf="user.rol  === 'Desarrollador'"></app-developer-navbar>

    <span class="example-spacer"></span>

    <button (click)="onLogout()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>logout</mat-icon>
    </button>

</mat-toolbar>