<form [formGroup]="form" (ngSubmit)="create()">
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <h1>New Bug</h1>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input type="text" matInput autocomplete="off" width="auto" formControlName="name" required>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Id</mat-label>
            <input type="number" matInput autocomplete="off" width="auto" formControlName="id" required>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Domain</mat-label>
            <input type="text" matInput autocomplete="off" formControlName="domain" required>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Version</mat-label>
            <input type="text" matInput autocomplete="off" formControlName="version" required>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>State</mat-label>
            <input type="text" matInput autocomplete="off" formControlName="state" required>
        </mat-form-field>
        
        <mat-form-field appearance="fill"> 
            <mat-label>Project</mat-label>
            <mat-select name="project" formControlName="pro" ([ngModel])="projectToAsign"> 
                <mat-option *ngFor="let project of projects" [value]="project.name">
                    {{project.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap=10px>

            <button type="submit" [disabled]="form.invalid" class="ancho button" mat-raised-button
                color="primary">Create</button>

            <button class="ancho button" mat-raised-button color="primary" (click)="close()">Cancel</button>
        </div>
    </div>
</form>