<div class="body">

    <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
    <div class="login">
        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onLogin()">
            <img src="../../../assets/img/programmer.png" width="50%">
            <h1>Login</h1>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="email">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput autocomplete="off" formControlName="password" >
            </mat-form-field>
            <br>
            <button type="submit" class="ancho button" mat-raised-button color="primary"
                [disabled]="form.invalid">Entry</button>
        </form>
    </div>
</div>