<form [formGroup]="form" (ngSubmit)="create()">
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <h1>New User</h1>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input type="text" matInput autocomplete="off" width="auto" formControlName="name" required>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Last Name</mat-label>
            <input type="text" matInput autocomplete="off" formControlName="lastName" required >
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>User Name</mat-label>
            <input type="text" matInput autocomplete="off" formControlName="userName" required>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput autocomplete="off" formControlName="password" required> 
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="text" matInput autocomplete="off" formControlName="email" required>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Rol</mat-label>
            <input type="text" matInput autocomplete="off" formControlName="rol" required >
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Price</mat-label>
            <input type="text" matInput autocomplete="off" formControlName="price" required >
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap=10px>

            <button type="submit" [disabled]="form.invalid" class="ancho button" mat-raised-button color="primary" >Create</button>

            <button class="ancho button" mat-raised-button color="primary" (click)="close()">Cancel</button>
        </div>
    </div>
</form>